/* special front page tweaking */

html,
body {
	min-height: 100%;
}

#main-menu,
#content {
	background: transparent;
	box-shadow: none;
	border: 0;
}

.container {
	box-shadow: none;
}

.content-inner {
	padding: 0;
}

.sheep {
	padding-top: 10%;
	text-align: center;
}

ul.menu {
	background: transparent;
	text-align: center;
	margin: 2em 0;
}

ul.menu li {
	border: none;
	background: #fff;
	box-shadow: 0 3px 2px rgba(0,0,0,0.25);

	width: 30%;
	margin: 1%;
	padding: 1%;
}

ul.menu a {
	display: inline-block;
	width: 100%;
	color: #699169;
}

.bottom {
	position: absolute;

	width: 100%;
	min-height: 400px;
	left: 0;
	bottom: 0;

	padding: 1em 0;

	background: #699169 url(/theme/thomen/images/bg-sheep.png) no-repeat;
	color: #fff;

	text-align: center;
}

.bottom div {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	text-align: left;
	padding: 1em;
}

.bottom div:first-child {
	border-color: #fff;
	border-style: solid;
	border-width: 0 1px 0 0;
}

.bottom a {
	color: #fff;
}

.bottom ul,
.bottom li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.bottom li {
	margin-bottom: 0.5em;
}

.bottom li span {
	display: block;
	position: relative;
	margin-left: 30px;
}

.bottom li span.email:before,
.bottom li span.phone:before,
.bottom li span.location:before {
	display: block;
	position: absolute;
	left: -30px;
}

.bottom li span.email:before {
	content: url(/theme/thomen/images/email-icon.png);
}

.bottom li span.phone:before {
	content: url(/theme/thomen/images/phone-icon.png);
}

.bottom li span.location:before {
	content: url(/theme/thomen/images/location-icon.png);
}

/* responsitivity */

@media screen and (max-height: 800px) {
	.bottom {
		position: initial;
	}
}

@media screen and (max-width: 649px) {
	.bottom div {
		width: 100%;
		padding: 0;
	}

	/* using percent sizing here because using padding requires extra
	 * markup due to the padding not being included in the width calculation
	 */
	.bottom {
		width: 90%;
		padding: 5%;
	}

	.bottom div:first-child {
		border-width: 0 0 1px 0;
	}
}

@media screen and (min-width: 650px) and (max-width: 900px)  {
	.bottom div {
		width: 40%;
	}
}

