body {
	background: #f5f2eb;

}

a {
	color: #00f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#content {
	background: #fff;

	border-top: 1em solid #699169;

	max-width: 800px;
	width: 100%;

	margin: 0 auto;

	box-shadow: 0em 0.5em 1em rgba(0,0,0,0.25);
}

.content-inner {
	padding: 1em;
}

