.datapoint-popup {
	display: block;
	position: absolute;
	opacity: 0;

	background: #fff;
	font-size: 9pt;
	border: 1px solid #000;

	padding: 0.5em;

	box-shadow: 2px 3px 3px rgba(0,0,0,0.25);

	pointer-events: none;

	transition: opacity .2s ease-in-out;
}

.datapoint-popup span {
	display: block;
	line-height: 1.5;
}

.datapoint-popup.visible {
	opacity: 1;
}

.sensor:before {
	content: '';
	display: inline-block;
	vertical-align: middle;

	width: 15px;
	height: 10px;
}

.sensor-index-1:before {
	background: #abc;
}

.sensor-index-2:before {
	background: #cab;
}

.sensor-index-3:before {
	background: #bca;
}

.sensor-index-4:before {
	background: #cba;
}

.sensor-index-5:before {
	background: #bac;
}

.sensor-index-6:before {
	background: #acb;
}
